<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <section class="inputs">
            {% for input in components.inputs.values() %}
            <div class="card">
              <span class="heading">{{ input.quantity }}</span>
              <span class="value"> <span style="display:inline;" id="{{input.quantity}}-val">Loading:</span> <span class="unit">{{ input.unit }}</span></span>
            </div>
            {% endfor %}
        </section>
        <section class="outputs">
            {% for output in components.outputs.values() %}
                <div class="card">
                    <span class="heading">{{ output.name }}</span>
                    <span class="value">{{ output.state }}</span>
                </div>
            {% endfor %}
            <div class="card">
                <span class="heading">Pump Control</span>
                <button id="pump-button" class="off-button">Off</button>
            </div>
        </section>
    </body>
    <script>

        // button logic
        let button = document.querySelector("#pump-button")
        let button_state = false
        let delay = {{ components.pump_time }} // fetches pump_time from python dictionary 
        button.addEventListener("click", ()=>{
            button.disabled = true
            fetch('/override_fire_pump') // requests app.py for pump activation
            button.innerText = "Watering"
            button.className = "on-button" 
            button_state = true

            // wait for 4s and reset button
            setTimeout(()=>{
              button.disabled = false
              button.innerText = "Off"
              button.className = "off-button"
              button_state = false
            }, delay * 1000)
        })

        // fetches values from python dictionary and updates values on browser
        let sensors = ["temperature", "humidity", "air_quality", "moisture", "internal_temp"]
        function refresh(){
            fetch('/get_update')
              .then(response => response.json())
              .then(i => {
                  // go to emergency page if humidity < preset
                  if(i["outputs"]["pump"]["state"] === 1 && !i["override"]){
                    window.location.href = "/emergency";
                  }
                  // update values on browser
                  sensors.forEach((j)=>{
                    document.getElementById(j+"-val").innerText = i["inputs"][j].value;
                  })
              })
              .catch(()=>console.log("failed")) // output error message on fail
        }

        setInterval(refresh, 500); // request an update every half second

    </script>
</html>
